@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
        <p>Explore our <a asp-area="" asp-controller="Departments" asp-action="Index">Department</a> and <a asp-area="" asp-controller="Employees" asp-action="Index">Employee</a> modules.</p>
</div>
